
 /*
Master
  */

.container {
  margin: 0 auto;  
  width: 720px;
}

 /*
Header
  */
 /*
Sidebar
  */

  nav {
    float: right;
  }

 /*
Content
  */

  .content {
    float: left;
  }

 /*
Footer
  */

.footer {
  clear: both;
  border-top: 1px dotted #222;
  padding: 20px 0px;
}
